# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [89]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"


# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [90]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [136]:
#pyber_type = pyber_data_df["type"].unique
#per_school_types = school_data_df.set_index(["school_name"])["type"]
pyber_type = pyber_data_df.set_index(["type"])
pyber_type

,city,date,fare,ride_id,driver_count
type,,,,,
Urban,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5
Urban,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72
Urban,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57
Urban,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34
Urban,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46
...,...,...,...,...,...
Rural,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6
Rural,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2
Rural,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1
Rural,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4
Rural,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1

## Deliverable 1: Get a Summary DataFrame

In [116]:
# Create the city DataFrame
urban_cities_df =pyber_data_df[pyber_data_df["type"]=="Urban"]
suburban_cities_df =pyber_data_df[pyber_data_df["type"]=="Suburban"]
rural_cities_df =pyber_data_df[pyber_data_df["type"]=="Rural"]

In [117]:
# Create the city DataFrame
urban_citiesdrivers_df =city_data_df[city_data_df["type"]=="Urban"]
suburban_citiesdrivers_df =city_data_df[city_data_df["type"]=="Suburban"]
rural_citiesdrivers_df =city_data_df[city_data_df["type"]=="Rural"]

In [118]:
#  1. Get the total rides for each city type
urban_ride_count = ((urban_cities_df. groupby(["city"]).count()["ride_id"]).sum())
suburban_ride_count = ((suburban_cities_df.groupby(["city"]).count()["ride_id"]).sum())
rural_ride_count = ((rural_cities_df.groupby(["city"]).count()["ride_id"]).sum())

In [137]:
ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]

In [120]:
rural_ride_count.sum()

125

In [121]:
# 2. Get the total drivers for each city type
urban_driver_sum = ((urban_citiesdrivers_df .groupby(["city"]).sum()["driver_count"]).sum())
suburban_driver_sum = ((suburban_citiesdrivers_df.groupby(["city"]).sum()["driver_count"]).sum())
rural_driver_sum = ((rural_citiesdrivers_df.groupby(["city"]).sum()["driver_count"]).sum())

In [139]:
driver_count = city_data_df.groupby(["type"]).sum()["driver_count"]

In [123]:
urban_driver_sum.sum()

2405

In [124]:
#  3. Get the total amount of fares for each city type
urban_fare_sum = ((urban_cities_df.groupby(["city"]).sum()["fare"]).sum())
suburban_fare_sum = ((suburban_cities_df.groupby(["city"]).sum()["fare"]).sum())
rural_fare_sum = ((rural_cities_df.groupby(["city"]).sum()["fare"]).sum())

In [140]:
fare_sum = pyber_data_df.groupby(["type"]).sum()["fare"]

In [141]:
urban_fare_sum.sum()

39854.38000000001

In [142]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare = (urban_fare_sum.sum()/urban_ride_count.sum())
suburban_avg_fare = (suburban_fare_sum.sum()/suburban_ride_count.sum())
rural_avg_fare = (rural_fare_sum.sum()/rural_ride_count.sum())

In [143]:
avg_fare = (fare_sum/ride_count)

In [144]:
urban_avg_fare

24.525772307692314

In [145]:
# 5. Get the average fare per driver for each city type. 
urban_avg_fare_per_driver =(urban_fare_sum/urban_driver_sum)
suburban_avg_fare_per_driver =(suburban_fare_sum/suburban_driver_sum)
rural_avg_fare_per_driver =(rural_fare_sum/rural_driver_sum)

In [146]:
avg_fare_per_driver = (fare_sum/driver_count)

In [147]:
urban_avg_fare_per_driver.sum()

16.57146777546778

In [150]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df= pd.DataFrame(
          [{"Type": pyber_type, 
          "Total Rides": ride_count, 
          "Total Drivers": driver_count,
          "Total Fares": fare_sum,
          "Average Fare per Ride": avg_fare,
          "Average Fare per Driver": avg_fare_per_driver}])
pyber_summary_df.head()

,Type,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
0,city date...,type Rural 125 Suburban 625 Urban ...,type Rural 78 Suburban 490 Urban ...,type Rural 4327.93 Suburban 19356.33...,type Rural 34.623440 Suburban 30.9701...,type Rural 55.486282 Suburban 39.5027...

In [99]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')